{
    "editor.fontFamily": "JetBrains Mono,Overpass Mono,Monaco, monospace",
    "editor.fontWeight": "400",
    "editor.fontSize": 14,
    "editor.minimap.enabled": false,
    "editor.tabSize": 2,
    "editor.wordWrap": "on",
    "files.associations": {
        "*.txt": "markdown"
    },
    "git.autofetch": true,
    "git.confirmSync": false,
    "git.enableSmartCommit": true,
    "markdown.extension.toc.githubCompatibility": true,
    "markdown.previewFrontMatter": "show",
    "security.workspace.trust.untrustedFiles": "open",
    "telemetry.telemetryLevel": "off",
    "terminal.integrated.defaultProfile.osx": "bash",
    "terminal.integrated.fontSize": 14,
    "terminal.integrated.profiles.osx": {
        "bash": {
            "path": "/opt/homebrew/bin/bash",
            "args": [
                "-l"
            ],
            "icon": "terminal-bash"
        },
        "zsh": {
            "path": "zsh",
            "args": [
                "-l"
            ]
        },
        "fish": {
            "path": "fish",
            "args": [
                "-l"
            ]
        },
        "tmux": {
            "path": "/opt/homebrew/bin/tmux",
            "icon": "terminal-tmux"
        },
        "pwsh": {
            "path": "pwsh",
            "icon": "terminal-powershell"
        }
    },
    "window.title": "${activeEditorLong}${separator}${rootName}",
    "workbench.colorTheme": "GitHub Light Default"
}
